*.vscode/
*.mixin.out/
/coremods
/server-resource-packs
/local
/modernfix
/texturepacks
/.qmenu_opened.marker
/knownkeys.txt
/options.txt
/patchouli_data.json
/profile.txt
/rhino.local.properties
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json

# Local data
crash-reports
/debug
/everbook
/exposures
/logs
/saves
/schematics
/screenshots

# KubeJS
/kubeJS/assets
/kubeJS/config
/kubeJS/data
/kubeJS/probe
/kubeJS/*.json
/kubejs/config/probejs.json
/kubeJS/*.txt

# Dependencies
/mods
/shaderpacks
/resourcepacks
/global_packs/optional_data
/global_packs/required_resources
/global_packs/required_data/coordinates*
/global_packs/required_data/EndersDelightFix
/global_packs/required_data/FD_dough_recipes
/global_packs/required_data/MD-CD-squid-compat
/global_packs/required_data/MVS-ConfigPack-1.19+
/global_packs/required_data/player*
/global_packs/required_data/silence*
/global_packs/required_data/VanillaTweaks*