mods/
coremods/
resourcepacks/
shaderpacks/
texturepacks/
data/
server-resource-packs/
screenshots/
saves/
.fabric/
logs/
schematics/
patchouli_books/
crash-reports/
icon.png
usercache.json
config/voicechat/username-cache.json
